In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('resources/vine_table.csv')
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N

In [4]:
#Retrieve all data where total votes is greater than 20
total_votes_df = df[df['total_votes'] > 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
1737,R1OAKARA30DIWX,4.0,83.0,89.0,N,Y

In [5]:
#retrieve data where ratio of helpful votes to total votes is greater than 50% 
helpful_votes_df = total_votes_df[(total_votes_df['helpful_votes']/total_votes_df['total_votes'])> 0.5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
1737,R1OAKARA30DIWX,4.0,83.0,89.0,N,Y

In [6]:
#retrieve data for paid program
yes_df = helpful_votes_df[helpful_votes_df['vine'] == 'Y']
yes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N

In [21]:
#retrieve data for non-paid program
no_df = helpful_votes_df[helpful_votes_df['vine'] == 'N']
no_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
1737,R1OAKARA30DIWX,4.0,83.0,89.0,N,Y

In [19]:
total_paid_count_yes = yes_df['star_rating'].count()
total_paid_count_yes

311

In [18]:
total_paid_count_no = no_df['star_rating'].count()
total_paid_count_no

57509

In [26]:
filter_5star_yes = yes_df[yes_df['star_rating'] == 5.0]
total_5star_yes = filter_5star_yes['star_rating'].count()
total_5star_yes

129

In [27]:
filter_5star_no = no_df[no_df['star_rating'] == 5.0]
total_5star_no = filter_5star_no['star_rating'].count()
total_5star_no

30631

In [28]:
print(f'The number of paid reviews is {total_paid_count_yes}. {total_5star_yes} were 5-star reviews.')
print(f'The number of non-paid reviews is {total_paid_count_no}. {total_5star_no} were 5-star reviews.')

The number of paid reviews is 311. 129 were 5-star reviews.
The number of non-paid reviews is 57509. 30631 were 5-star reviews.